@font-face {
    font-family: 'Cairo';
    src: url('../web-font/Cairo/static/Cairo-Regular.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cairo';
    src: url('../web-font/Cairo/static/Cairo-Bold.ttf') format('truetype'); /* Adjust path as necessary */
    font-weight: bold;
    font-style: normal;
}

$font:'cairo';
$font-size-23px : 23px ;